// Base
$fz-base: 16px;
$fz-14: 14px;
$fz-12: 12px;
$ff-inter: "Inter", sans-serif;

// Colors
$no-clr: transparent;
$white-clr: #ffffff;
$black-clr: #000000;
$clr-101828: #101828;
$clr-344054: #344054;
$clr-364152: #364152;
$clr-42307D: #42307d;
$clr-475467: #475467;
$clr-4A1FB8: #4a1fb8;
$clr-57534E: #57534e;
$clr-5720B7: #5720b7;
$clr-53389E: #53389e;
$clr-6941C6: #6941c6;
$clr-667085: #667085;
$clr-7F56D9: #7f56d9;
$clr-9E77ED: #9e77ed;
$clr-999999: #999999;
$clr-D6BBFB: #d6bbfb;
$clr-D0D5DD: #d0d5dd;
$clr-E9D7FE: #e9d7fe;
$clr-E4E4E4: #e4e4e4;
$clr-EAECF0: #eaecf0;
$clr-F1F1F1: #f1f1f1;
$clr-F9FAFB: #f9fafb;
$clr-F2F4F7: #f2f4f7;
$clr-F9F5FF: #f9f5ff;

// Media Sizes
$break-1300: 1300px;
$break-1280: 1280px;
$break-1080: 1080px;
$break-991: 991px;
$break-767: 767px;

/*
@media (max-width: $break-767) {}
*/
