.w-1206 {
    max-width: 1206px;
    margin-left: auto;
    margin-right: auto;
}
.w-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.w-930 {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
}
.w-768 {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
